<div >
  @if (userHasConfirmedReading) {
    <div class="loader-background">
      <div class="welcome-body">
        <div class="custom-dialog-title">
          <span class="header"
          mat-dialog-title i18n="@@readPermission.title">אישור קריאת הפרק</span>
          <button mat-icon-button (click)="closeDialog()">
            <mat-icon class="header" i18n-aria-label="@@dialog.close" aria-label="סגירה">close</mat-icon>
          </button>
        </div>
        <div mat-dialog-content>
          <b i18n="@@readPermission.congrats">כל הכבוד זכית בעוד פרק</b>
          <p i18n="@@readPermission.saving">מתבצעת שמירה...</p>
          <br>
            <div class="progress-container">
              <div class="progress-bar" [style.width.%]="progressValue()"></div>
            </div>
          </div>
        </div>
      </div>
    } @else {
      <div class="welcome-body">
        <div class="custom-dialog-title">
          <span class="header"
          mat-dialog-title i18n="@@readPermission.title">אישור קריאת הפרק</span>
          <button mat-icon-button (click)="closeDialog()">
            <mat-icon class="header" i18n-aria-label="@@dialog.close" aria-label="סגירה">close</mat-icon>
          </button>
        </div>
        <div mat-dialog-content>
          <b i18n="@@readPermission.confirmPrompt1">לחיצה על אישור תגרום לשמירת הפרק כפרק האחרון שקראת.</b>
          <br>
            <b i18n="@@readPermission.confirmPrompt2">האם לשמור את הפרק?</b>
            <br><br>
            <div mat-dialog-actions>
              <button class="save-button" (click)="saveAndClose()" [disabled]="isButtonDisabled()" i18n="@@readPermission.save">שמירת הפרק</button>
            </div>
            @if (isSavedInProgress()) {
              <div class="progress-container">
                <div class="progress-bar" [style.width.%]="progressValue()"></div>
              </div>
            }
            @if (isSavedSuccessful()) {
              <div>
                <span class="serverResponse" i18n="@@readPermission.saved">הפרק נשמר בהצלחה</span>
              </div>
            }
          </div>
        </div>
      }
    </div>
