
  <div class="centered-container">
    <div class="button-row">
          <button class="svg-button" (click)="contactUs()">
            <div class="icon" [ngClass]="contactUsIcon"></div> 
            {{ contactUsButton }} 
          </button>
          <button class="svg-button" (click)="downloadApp()">
            <div class="icon" [ngClass]="downloadAppIcon"></div> 
            {{ downloadAppButton }} 
          </button>
          <button class="svg-button" (click)="openSubscribe()">
            <div class="icon" [ngClass]="subscribeIcon"></div> 
            {{ subscribeButton }} 
          </button>
      </div>
  </div>
