<div class="centered-container">
  <div class="button-row">
    @for (button of tanakhButtons; track button) {
      <button class="svg-button" (click)="goTo(button)">
        <div class="icon" [ngClass]="button.iconClass"></div>
        {{ button.text }}
      </button>
    }
  </div>
  <div class="button-row">
    @for (button of buttons; track button) {
      <button class="svg-button" (click)="goTo(button)">
        <div class="icon" [ngClass]="button.iconClass"></div>
        {{ button.text }}
      </button>
    }
  </div>
</div>
