<div class="welcome-body">
  <div class="custom-dialog-title">
    <h2 class="header"
          mat-dialog-title i18n="@@welcomeModal.title">ברוכים הבאים</h2>
    <button mat-icon-button type="button" (click)="closeDialog()" i18n-aria-label="@@dialog.close" aria-label="סגירה">
      <mat-icon class="header" aria-hidden="true">close</mat-icon>
    </button>
  </div>

  <div mat-dialog-content>
    <b i18n="@@welcomeModal.body1">המערכת הוקמה מתוך רצון להפיץ תורה, להרבות באחדות ולזכות את עם ישראל בקריאת התנ״ך – ללא מטרות רווח.</b> <br>
    <b i18n="@@welcomeModal.body2">התנ״ך הוא ספר היסוד של עם ישראל, וכל מי שמקבל על עצמו לקרוא פרק אחד בכל יום שותף במיזם של חיבור, לימוד והפצת תורה.</b><br>
    <b i18n="@@welcomeModal.body3">כדי להקל על ההתמדה, ניתן להגדיר תזכורת יומית שתישלח ישירות למכשירכם. תוכלו לעבור להגדרות, ושם תוכלו לבחור אם להפעיל את התזכורת.</b><br>
    <b i18n="@@welcomeModal.body4">על ידי לחיצה על הכפתור למטה תוכלו לעבור לעמוד ההגדרות ולבחור האם לקבל תזכורת יומית ישירות למכשיר הפלאפון שלכם.</b><br>
    <b i18n="@@welcomeModal.body5">בנוסף, ניתן להתקין את המערכת כאפליקציה על מסך הבית של הטלפון. ההתקנה מהירה, אינה דורשת כמעט מקום אחסון ומאפשרת גישה נוחה בכל עת.</b><br><br>
    <b i18n="@@welcomeModal.body6">בתפילה שנזכה להרבות באחדות, באהבת ישראל ובבשורות טובות לעם ישראל.</b><br>
  </div>

  <div mat-dialog-actions>
    <button class="go-setting-button" type="button" (click)="closeAndGoSetting()" i18n="@@welcomeModal.goToSettings">עבור להגדרות</button>
  </div>
</div>