<div class="welcome-body">
  <div class="custom-dialog-title">
    <h2 class="header"
          mat-dialog-title i18n="@@welcomeModal.title">ברוכים הבאים</h2>
    <button mat-icon-button type="button" (click)="closeDialog()" i18n-aria-label="@@dialog.close" aria-label="סגירה">
      <mat-icon class="header" aria-hidden="true">close</mat-icon>
    </button>
  </div>

  <div mat-dialog-content>
    <b i18n="@@welcomeModal.body1">המערכת פועלת להפצת תורה וחסד ברחבי הארץ ללא מטרות רווח.</b> <br>
    <b i18n="@@welcomeModal.body2">כל מי שיקבל על עצמו את קריאת התנ"ך - הלב והספר של עם הספר, עם הנצח יהיה שותף בקירוב לבבות עם ישראל.</b><br>
    <b i18n="@@welcomeModal.body3">תוכלו לקרוא פרק אחד בכל יום ובכך להשלים את קריאת התנ"ך</b><br>
    <b i18n="@@welcomeModal.body4">על ידי לחיצה על הכפתור למטה תוכלו לעבור לעמוד ההגדרות ולבחור האם לקבל תזכורת יומית ישירות למכשיר הפלאפון שלכם.</b><br>
    <b i18n="@@welcomeModal.body5">כמו כן תוכלו להוריד את האפליקציה אליכם לפלאפון - שימו לב כי האפליקציה כמעט ואינה תופסת מקום אחסון.</b><br><br>
    <b i18n="@@welcomeModal.body6">בשאיפה לאחדות רוחנית וגשמית בקרב עם ישראל במהרה בימנו.</b><br>
  </div>

  <div mat-dialog-actions>
    <button class="go-setting-button" type="button" (click)="closeAndGoSetting()" i18n="@@welcomeModal.goToSettings">עבור להגדרות</button>
  </div>
</div>