<div class="welcome-body">
  <div class="custom-dialog-title">
    <span class="header"
          mat-dialog-title>ברוכים הבאים</span>
    <button mat-icon-button (click)="closeDialog()">
      <mat-icon class="header" aria-label="Close">close</mat-icon>
    </button>
  </div>
  
  <div mat-dialog-content>
    <b>המערכת פועלת להפצת תורה וחסד ברחבי הארץ ללא מטרות רווח.</b> <br>
    <b>כל מי שיקבל על עצמו את קריאת התנ"ך - הלב והספר של עם הספר, עם הנצח יהיה שותף בקירוב לבבות עם ישראל.</b><br>
    <b>תוכלו לקרוא פרק אחד בכל יום ובכך להשלים את קריאת התנ"ך</b><br>
    <b>על ידי לחיצה על הכפתור למטה תוכלו לעבור לעמוד ההגדרות ולבחור האם לקבל תזכורת יומית ישירות למכשיר הפלאפון שלכם.</b><br>
    <b>כמו כן תוכלו להוריד את האפליקציה אליכם לפלאפון - שימו לב כי האפליקציה כמעט ואינה תופסת מקום אחסון.</b><br><br>
    <b>בשאיפה לאחדות רוחנית וגשמית בקרב עם ישראל במהרה בימנו.</b><br>
  </div>
  
  <div mat-dialog-actions>
    <button class="go-setting-button" (click)="closeAndGoSetting()">עבור להגדרות</button>
  </div>
</div>