
  <div class="centered-container">
    <div class="button-row">
          <button class="svg-button" (click)="contactUs()">
            <div class="icon" [ngClass]="contactUsIcon"></div> 
            {{ contactUsButton }} 
          </button>
          <button class="svg-button" (click)="downloadApp()" [disabled]="pwaInstall.isStandalone()">
            <div class="icon" [ngClass]="downloadAppIcon"></div>
            {{ downloadAppButton() }}
          </button>
          <button class="svg-button" (click)="openSubscribe()">
            <div class="icon" [ngClass]="subscribeIcon"></div>
            {{ subscribeButton() }}
          </button>
      </div>
      @if (pwaInstall.isIos() && !pwaInstall.isStandalone()) {
        <p class="ios-install-hint" i18n="@@settings.iosInstallHint">
          להתקנת האפליקציה: לחצו על כפתור השיתוף בדפדפן ובחרו "הוספה למסך הבית".
        </p>
      }
  </div>
